<nav class="navbar">
    <div class="navbar__container">
        <img
            class="navbar__logo animate__animated animate__rubberBand"
            src="{{ header.icon.img }}"
            alt="{{ header.icon.name }}"
            />
        <div class="navbar__link-box">
            <p *ngFor="let link of header.links">{{ link }}</p>
        </div>
    </div>
</nav>
