@import "../../../../src/styles/fonts.scss";
@import "../../../../src/styles//colors.scss";
@import "../../../../src/styles/responsibe.scss";
@import "../../../../src/styles/sizes.scss";

.navbar {
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 14px 10px -6px #cccccc;

    &__container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        height: 80px;
        margin-right: 10px;
    }

    &__link-box {
        font-family: $font-sans-serif;
        font-size: 14px;
        color: $primary-color;
        width: 320px;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
}