<div class="articles">
    <div class="articles__container">
        <ul class="articles__box">
            <li *ngFor="let article of articles.article">
                <h1>{{article.title}}</h1>
                <h2>{{article.subtitle}}</h2>
                <img src="{{article.img.img}}" alt="{{article.img.name}}">
                <p>{{article.content}}</p>
            </li>
        </ul>
    </div>
</div>

