@import "../../../../styles/colors.scss";
@import "../../../../styles/fonts.scss";
@import "../../../../styles/responsibe.scss";
@import "../../../../styles/sizes.scss";

.articles {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;

    &__container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__box {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    ul {
        display: flex;
        list-style: none;
        margin: 0 auto;
        padding-right: 20px;
        padding-left: 20px;
        li{
            text-align: center;
        }
    }

    h1{
        text-align: center;
        font-family: $font-sans-serif;
        font-size: $main-size;
     }

     h2{
         text-align: center;
         font-family: $font-sans-serif;
     }

     img {
         width: auto;
         height: 300px;
     }

     p{
         text-align: center;
         font-family: $font-sans-serif;
         font-size: $small-size;
         padding-right: 20px;
         padding-left: 20px;
     }
   }
