@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/responsibe.scss';
@import '../../../styles/sizes.scss';

.footer {
    background-color: $secondary-color;
    height: auto;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__link-box {
        font-family: $font-sans-serif;
        font-size: 14px;
        color: $primary-color;
        width: 320px;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }


    ul {
        display: flex;
        list-style: none;
        li {
            font-family: $font-sans-serif;
            font-size: $main-size;
            color: $fouth-color;
        }
    }
}