@import "../../../../styles/colors.scss";
@import "../../../../styles/fonts.scss";
@import "../../../../styles/responsibe.scss";
@import "../../../../styles/sizes.scss";

.content{
    background-color: white;
    display: flex;
    position: relative;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 5px #cccccc;

    .container {
        width: 1190px;
        height: auto;
        color: white;
        position: relative;
        margin-top: 80px;
        margin-bottom: 80px;
        margin-left: auto;
        margin-right: auto;
        padding: 50px;
        text-align: center;
    }

    .image {
        width: 1190px;
        height: auto;
    }
}

.content2 {
    background-color: white;
    display: flex;
    position: relative;
    margin: 20px auto;

    .container2 {
        width: 100%;
        height: auto;
        color: white;
        position: relative;
        margin-top: 80px;
        margin-bottom: 80px;
        margin-left: auto;
        margin-right: auto;
        padding: 50px;
        text-align: center;
    }

    .state {
        color: $third-color;
        font-family: $font-serif;
        font-size: $header-size;
    }

    .button {
        font-family: $font-sans-serif;
        font-size: $main-size;
        color: $secondary-color;
        background-color: white;
        border-color: white;
        border-radius: 0px;
        box-shadow: 0px 0px 5px 5px #eb7424;
    }
}

.orange {
    color: $third-color;
    font-family: $font-serif;
    font-size: $big-headers-size;
}

.black {
    color: $primary-color;
    font-family: $font-serif;
    font-size: $big-headers-size;
}