<div class="content">
    <div class="container">
        <img class="image animate__animated animate__backInDown" src="{{content.img.img}}" alt="{{ content.img.name }}">
    </div>
</div>

<div class="content2">
    <div class="container2">
        <p [ngClass]="flag ? 'black' : 'orange'">You can see us on Netflix!</p>
        <p class="state" *ngIf="flag">{{ state }}</p>
        <button class="button" (click)="onButtonClick()">CLICK ME!</button>
    </div>
</div>

