<div class="gallery">
    <div class="gallery__container">
        <ul class="gallery__box">
            <li *ngFor="let img of gallery.img">
                <h1>{{img.name}}</h1>
                <img src="{{img.img}}" alt="{{img.name}}">
            </li>
        </ul>
    </div>
</div>

