@import "../../../../styles/colors.scss";
@import "../../../../styles/fonts.scss";
@import "../../../../styles/responsibe.scss";
@import "../../../../styles/sizes.scss";

.gallery {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    box-shadow: 0px 0px 5px 5px #cccccc;

    &__container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__box {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    ul {
        display: flex;
        list-style: none;
        margin: 0 auto;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 50px;
        li{
            text-align: center;
        }
   }

    h1{
       text-align: center;
       font-family: $font-sans-serif;
       font-size: $main-size;
    }

    img {
        width: auto;
        height: 280px;
    }

    p{
        text-align: center;
        font-family: $font-sans-serif;
        font-size: $small-size;
    }
}
